:root {
  --aside-width: 100%;
  --aside-height: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  /* --color-dark: #000; */
  --color-light: #fff;
}



img {
  border-radius: 4px;
}

/* main layout */


/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: auto;
  /* max-height: var(--aside-height);
  min-height: var(--aside-height); */
  width: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 4rem;
  transition: transform 200ms ease-in-out;
  /* padding: 0 1rem; */
}

.okayletsee {
  background-color: aqua;
}

aside header {
  align-items: center;
  /* border-bottom: 1px solid var(--color-dark); */
  border-bottom: #000 solid 2px;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
  font-family: sans-serif;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all .7s;
  width: 20px;
  &:hover {
    opacity: 1;
  }
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
  height: auto;
}

aside p {
  margin: 0 0 0.25rem;
  &:last-child {
    margin: 0;
  }
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .7s ease-in-out;
  transition: opacity .7s;
  visibility: hidden;
  z-index: 1;
  height: auto;
}


.searchDrawer {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .7s ease-in-out;
  transition: opacity .7s;
  visibility: hidden;
  z-index: 1;
}

.searchDrawer .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay {
  &:target {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  /* reveal aside */
  &:target aside {
    transform: translateX(calc(var(--aside-width) * -1));
  }
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  background: #ffffff;
  display: flex;
  height: var(--header-height);
  padding: 0 4rem;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: solid 1px #e8e8e8;
}

.srchToggle {
  display: none;
}

.closeSrch {
  display: none;
}

.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.mobileBtn {
  margin-top: 5px;
}


.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
    margin-left: 3rem;
  }
}

.header-menu-item {
  cursor: pointer;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
  padding: 0 1rem;
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-dark);
  margin-top: auto;
}

.footer-menu-missing {
  display: inline-block;
  margin: 1rem;
}

.footer-menu {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cartTesting {
  width: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  /* line-height: 0; */
  /* align-items: center; */
}

.cartTesting p {
  line-height: 0;
}

.cartDrawer {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity .7s ease-in-out;
  transition: opacity .7s;
  visibility: hidden;
  z-index: 1;
  height: auto;
}

.cartDrawer {
  &:target {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  /* reveal aside */
  &:target .cartDrawer-container {
    transform: translateY(4rem);
  }
}

.cartDrawer-container {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: auto;
  max-height: 100%;
  width: 400px;
  position: fixed;
  right: 4rem;
  top: 0rem;
  transition: transform 200ms ease-in-out;
}

.cartDrawer ul {
  padding: 0 2rem 0;
}

.cart-list:last-child ul:last-child {
  border-bottom: none;
}

.cartDrawer .cart-list-container {
  height: auto;
  max-height: 65vh;
  overflow-y: auto;
  /* border-bottom: #000 solid 1px; */
}

.cartDrawer .cart-list {
  display: block;
  /* padding: 1.25rem 2rem; */
}

.cartDrawer ul::-webkit-scrollbar {
  display: none;
}

.cart-line {
  display: flex;
  z-index: 10;
  border-bottom: solid 1px #bdbdbd;
  padding: 1.25rem 0;
}

.cart-lines {
  display: flex;
}
.cart-line img {
  height: 120px;
  width: 12 0px;
  margin-right: 2rem;
  /* padding-right: 5rem; */
}

.cartItemDetails {
  text-align: start;
}

.cartOptions {
  text-align: start;
}

.cartItemDetails ul {
  display: block;
  padding: 0;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid #bdbdbd;
  bottom: 0;
  padding-top: 0.75rem;
  /* position: absolute; */
  /* margin-top: 50px; */
  /* width: calc(var(--aside-width) - 40px); */
}

.cartDrawer .cart-summary-cont {
  padding: 0 2rem;
}

.cartDrawer .cart-line-quantiy {
  display: flex;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  /* padding: 0 1.5rem; */
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cart-item-delete-button {
  height: 20px;
  display: flex;
  align-items: center;
}

.removeBtn {
  height: 15px;
  width: 15px;
}

.cart-line-quantiy form {
  /* height: 20px; */
}

.qtyBtn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: solid 1px #bdbdbd;
  height: 25px;
  width: 25px;
}

.itemPrice {
  /* position: relative;
  top: -5rem; */
  margin-bottom: 20px;
  font-size: .8rem;
}

.checkoutBtn {
  border: solid 1px black;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 1rem;
}

.viewCart {
  border: solid 2px black;
  padding: 1rem;
  text-align: center;
}



/* -------------------------------------------------- */
/* /cart page */
/* -------------------------------------------------- */
.cartHeader {
  border-bottom: solid 1px #bdbdbd;
  width: 45vw;
  display: flex;
  padding-bottom: .75rem;
}

.cart-header-label-product {
  width: 50%;
}

.cart-header-label-qty {
  width: 33.33333%;
  text-align: center;
}

.cart-header-label-price {
  width: 16.66667%;
  text-align: end;
}

.mainContent .cart {
  max-width: 80vw;
  min-width: 65vw;
  margin: 0 auto;
  /* overflow-y: auto; */
  z-index: 1;
}

.mainContent .cart-main {
  width: 45vw;
  /* overflow-y: auto; */
  max-height: 80vh;
}

.mainContent .cart-list {
  max-height: 100%;
  display: block;
  height: auto;
  padding: 0rem;
  margin: 0;
}

.mainContent .cart-line {
  z-index: 0;
  border-bottom: none;
  width: 50%;
}

.mainContent .cart-line-info {
  display: flex;
  border-bottom: solid 1px #bdbdbd;
}

.mainContent .cart-line-quantiy {
  display: flex;
  justify-content: center;
  position: relative;
  top: 40%;
  left: auto;
  right: auto;
}

.mainContent .cart-line-qty {
  width: 33.33333%;
  align-items: center;
}

.mainContent .itemPrice {
  position: relative;
  top: 40%;
}

.mainContent .cart-line-price {
  width: 16.66667%;
  text-align: end;
}

.mainContent .viewCart{
  display: none;
}

.mainContent .cart-summary-page {
  max-width: 500px;
  width: 500px;
  /* position: relative; */
  /* position: absolute; */
  position: fixed;
  right: 10vw;
  top: 25vh;
  background-color: #bdbdbd;
  /* padding: 1rem; */
}


/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/

.srchDiv {
  display: none;
}

.toggled {
  display: none;
}

.predictive-search {
  overflow-x: scroll;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
  height: 3rem;
}

.predictive-search-form input {
  border-radius: 4px;
  border: 2px solid #000;
  margin-bottom: 0.5rem;
  margin-top: 0.25rem;
  font-size: .85rem;
  padding-left: 2.5rem;
  font-weight: 400;
  background: url(../../public/search.svg) no-repeat 7px 7px;
}

.predictive-search-form input:focus {
  outline: none;
  font-weight: 400;
  /* padding-left: 2rem; */
  /* font-size: 1rem; */
}

.predictive-search-results {
  display: block;
  padding: 0 3rem;
  top: 4rem;
  position: sticky;
  z-index: 1;
  background-color: #fff;
}

.predictive-search-results li {
  display: flex;
  width: 200px;
  text-align: center;
  align-items: center;
}

.searchTerms {
  padding: 1rem 3.5rem;
  text-align: end;
  align-items: end;
}

#search-aside {
  display: none;
}


.predictive-search-result {
  /* margin-bottom: 2rem; */
  overflow-x: scroll;
  display: flex;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
  /* display: block; */
}

.predictive-search-result-item a img {
  /* margin-right: 0.75rem; */
  height: 150px;
  width: 150px;
  margin-bottom: .75rem;
}

.search-result {
  margin-bottom: 1.5rem;
  display: flex;
}

.search-results-item {
  margin-bottom: 0.5rem;
  
}

.okay {
  display: flex;
  align-items: center;
  font-size: .7rem;
  word-wrap: break-word;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-images {
  display: grid;
  grid-gap: 1rem;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
  display: flex;
  align-items: center;
}

.account-logout {
  display: inline-block;
}


/* some mobile styling. */
@media screen and (min-width:250px) and (max-width: 1024px) {
  .header {
    padding: 0 2rem;
  }

  nav .searchContainer {
    display: none;
  }

  .srchDiv {
    display: flex;
  }

  .srchToggle {
    display: flex;
  }

  .closeSrch {
    display: flex;
  }

  .predictive-search-results {
    display: block;
    overflow-x: hidden;
    padding: 0;
    max-width: var(--aside-width);
    min-width: var(--aside-width);
  }

  .searchRes {
    overflow-x: hidden;
  }

  #search-aside {
    display: flex ;
  }

  .predictive-search-form input {
    width: 100%;
    padding-left: 2.5rem;
    font-size: .85rem;
  }

  .predictive-search-form input:focus {
    outline: none;
  }

  .searchTerms {
    padding: 1rem 1rem
  }
  
  .hideForMobile {
    display: none;
    content: 'complete';
  }

  .hideForMobile input {
    content: 'complete';
  }

  ul {
    /* flex-direction: column; */
  }

  

  ul {
    display: flex;
    max-width: var(--aside-width);
    min-width: var(--aside-width);
    overflow: hidden;
  }
}

@media screen and (min-width:250px) and (max-width: 768px) {
  .cartDrawer-container {
    width: 100%;
    right: 0;
    height: 100vh;
  }
  
  /* fix cart drawer issues on smaller height iPhone SE/5/6-8/6-8 Plus etc */
  /* .cart-summary-aside {
    position: absolute;
    bottom: 4rem;
    width: 100%;
  } */

}